<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
	    <div style="border: solid 0px hotpink; width: 90px;height: 90px;margin-left: 46%;margin-top: 10%;">
	    	
	    	<img style="width: 90px;height: 90px;" src="http://120.78.199.50:8081/food/img/success.png"/>
	    	
	    </div>
	    
	     <div style="border: solid 0px hotpink; width: 350px;height: 30px;margin-left: 46.7%;">
	    	
	    	<h5>注册成功</h5>
	    	
	    </div>
	    <div style="border: solid 0px hotpink; width: 350px;height: 30px;margin-left: 38.8%;text-align: center;">
	    	
	    	<a href="reserve_franchisee.html"><button class="btn btn-success">返回主页</button></a>
	    	
	    </div>
	</body>
</html>