<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-ico" href="static/images/bitbug_favicon.ico" />
<title>Insert title here</title>
</head>
<script type="text/javascript">
	var time=4;
	var timer = setInterval(function(){
	var str = document.getElementById("second");
		if(time>=1){
			str.innerHTML=time;
				time--;
		 }else{
				clearInterval(timer);
			    location.href = "http://120.78.199.50:8081/fenggelou/reserve_franchisee.html";
		}
	},1000)

</script>
<body>
	    <div style="border: solid 0px hotpink; width: 90px;height: 90px;margin-left: 46%;margin-top: 10%;">
	    	
	    	<img style="width: 90px;height: 90px;" src="http://120.78.199.50:8081/food/img/success.png"/>
	    	
	    </div>
	    
	     <div style="border: solid 0px hotpink; width: 350px;height: 30px;margin-left: 47.5%;">
	    	
	    	<h5>注册成功</h5>
	    	
	    </div>
	    <div style="border: solid 0px hotpink; width: 350px;height: 30px;margin-left: 35%;text-align: center;">
	    	
	    <p>正在跳转请稍后...........</p>
	    	
	    </div>
	</body>
</html>